.container-signup
  .right-top.button--gray
    = link_to "ログイン", new_session_path(resource_name)
  .form
    .logo-area
      = link_to image_tag("logo.png", class: "logo", size: "44x44", alt: "logo"), "/"
    .greeting-area
      %h1.greeting Pincredible にようこそ！
    .form-area
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        = f.text_field :nickname, autofocus: true, placeholder: "ニックネーム", class: "field-input"
        = f.email_field :email, placeholder: "メール", class: "field-input"
        = f.password_field :password, autocomplete: "off", placeholder: "パスワードを作成", class: "field-input"
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワードを再入力", class: "field-input"
        = f.submit "続行", class: "button--red wide"
      .notice アカウントを作成しても、Pincredibleの利用規約とプライバシーポリシーに同意するものとみなしません。
  .footer
    %ul.footer__list
      %li.footer__list__item Pincredible について
      %li.footer__list__item 利用規約
      %li.footer__list__item ヘルプ
