.container-pin
  .close-button
    = link_to "", "javascript:history.back()", class: "menu-link"
    = fa_icon("times", class: "fa-2x menu-icon")
  .pin
    .pin__menu
      - if user_signed_in?
        .menu--left
          - if @pin.user == current_user
            .menu-button.modal-open{data: {target: "modal-pinEdit"}}
              = fa_icon("pencil", class: "fa-lg menu-icon")
        .menu--right
          .button.modal-open{data: {target: "modal-saveToBoard"}}
            %span.link-text 保存
    .pin__title
      %h2.pin__title__text #{@pin.title}
    .pin__image
      = image_tag @pin.image, class: "item-img"
    .pin__user
      .pin-user--left
        = link_to image_tag(@pin.user.avatar.thumb, class: "user-avatar"), user_path(@pin.user)
      .pin-user--right
        .user-label 作成したユーザー：
        = link_to "#{@pin.user.nickname}", user_path(@pin.user), class: "user-name link-text"
    .pin__description
      = simple_format(@pin.description, class: "pin__description__text")
    .pin__date
    - if @pin.board_pins.present?
      .pin__board
        .pin-board--left
          = link_to image_tag(@pin.board_pins.last.board.user.avatar.thumb, {class: "user-avatar"}), user_path(@pin.board_pins.last.board.user)
        .pin-board--right
          .board-event
            = link_to @pin.board_pins.last.board.user.nickname, user_path(@pin.board_pins.last.board.user), class: "textCut400"
            さんが「
            = link_to @pin.board_pins.last.board.title, board_path(@pin.board_pins.last.board), class: "textCut400"
            」に保存しました
- if user_signed_in?
  = render partial: "shared/modal-saveToBoard"
- if @pin.user == current_user
  = render partial: "shared/modal-pinEdit"
