= render partial: "/shared/header"
.container
  .user-form
    = form_for(current_user) do |f|
      .title
        プロフィールの編集
      .field
        = f.label :nickname, "ニックネーム", class: "field-label"
        = f.text_field :nickname, class: "field-input"
        = f.label "写真", class: "field-label"
        .field-avatar
          .avatar
            = image_tag "#{current_user.avatar}", class: "avatar-image"
          .change
            = f.label :avatar do
              = f.file_field :avatar, class: "hidden"
              .file-button
                %span.link-text 写真を変更
        = f.label :email, "Email", class: "field-label"
        = f.email_field :email, class: "field-input"
        = f.label :about, "自己紹介", class: "field-label"
        = f.text_area :about, class: "field-input"
      .actions
        = f.submit "設定を保存", class: 'btn'
