= render partial: "/shared/header"
.container
  .board-header
    .board-header__menu
      -if current_user == @user
        .menu-button
          = link_to "", edit_user_path, class: "menu-link"
          = fa_icon("cog", class: "fa-lg menu-icon")
        .menu-button
          = link_to "", destroy_user_session_path, method: :delete, class: "menu-link"
          = fa_icon("sign-out", class: "fa-lg menu-icon")
    .board-header__info
      .board-header__info--left
        %h2.title-text #{@user.nickname}
        - if @user.about
          = simple_format(@user.about, class: "board-about")
      .board-header__info--right
        = image_tag "#{@user.avatar}", class: "avatar--large"
  .show-trigger
    .show-trigger__option.select#boardsOn ボード
    .show-trigger__option#pinsOn ピン
  = render partial: "/shared/boards"
  = render partial: "/shared/pins", locals: {display: "hidden"}
  - if user_signed_in?
    = render partial: "/shared/post"
    - if current_user == @user
      = render partial: "/shared/modal-boardNew"
