%header.header
  .header__logo
    = link_to "", "/", class: "logo-link"
    = image_tag "logo.png", class: "logo", size: "28x28", alt: "logo"
  .header__search
    %form
      %label.form__box
        %input{type: "text", placeholder: "検索", class: "search-input field-input"}
        = fa_icon("search", class: "fa-lg search-icon")
  .header__menu
    - if user_signed_in?
      .icon-button
        = link_to "", "/tags", class: "menu-link"
        = fa_icon("hashtag", class: "fa-lg menu-icon")
      .icon-button
        = link_to "", "/users/#{current_user.id}", class: "menu-link"
        = fa_icon("user", class: "fa-2x menu-icon")
    - else
      .text-button
        = link_to "", new_user_session_path, class: "text-link"
        %span.link-text ログイン
.search__result
  .message キーワードを入力してください
  .result#result-pins
    .result__label ピン
  .result#result-users
    .result__label ユーザー
  .result#result-boards
    .result__label ボード
  .result#result-tags
    .result__label タグ
