%header.header
  .header__logo
    = link_to "", "/#0", class: "logo-link"
    = image_tag "logo.png", class: "logo", size: "28x28", alt: "logo"
  .header__search
    %form
      .form__box
        .form__box--left
          = fa_icon("search", class: "fa-lg")
        .form__box--right
          %input{type: "text", placeholder: "検索", class: "search-input"}
  - if user_signed_in?
    .header__menu
      = link_to "", "/users/#{current_user.id}", class: "menu-link"
      = fa_icon("user", class: "fa-2x menu-icon")
