.modal#modal-saveToBoard
  .modal__bg
  .modal__window{ id: "#{@pin.id}"}
    .modal__window--left
      .modal-image
        = image_tag @pin.image, class: "preview"
    .modal__window--right
      .modal__window__header
        .modal-title ボードを選択
        .close-button
          = fa_icon("times", class: "fa-lg")
      .modal__window__container
        .content2
          - current_user.boards.each do |board|
            .board-item.saveToBoardTrigger{ id: "#{board.id}"}
              .board-image
              .board-title #{board.title}
              .board-button 保存
      .modal__window__footer
