.modal{id: "modal-boardEdit" + board.id.to_s}
  = form_for board do |f|
    .modal__bg
    .modal__window
      .modal__window--right
        .modal__window__header
          .modal-title ボードを編集
          .close-button
            = fa_icon("times", class: "fa-lg")
        .modal__window__container
          .content
            = f.label :title, "ボードのタイトル", class: "field-label"
            = f.text_field :title, class: "field-input"
            = f.label :description, "ボードの説明", class: "field-label"
            = f.text_area :description, class: "field-input"
        .modal__window__footer
          = link_to "解除", board_path(board), method: :delete , class: "button--gray left"
          = f.submit "Save", class: "submit-button right"
