= content_tag(:div, class: "tiles #{display}", id: "pins") do
  - if my_page?
    .tiles__item.small-tile
      .tiles__item__wrapper.hoverTrigger.modal-open{data: {target: "modal-upload"}}
        .item-object
          .item-object__img.no-img.height236
            = fa_icon("plus-circle", class: "fa-3x")
        .item-info
          .item-info__text ピンを保存する
  - if board_show?
    - @board_pins.each do |board_pin|
      .tiles__item.small-tile
        .tiles__item__wrapper.hoverTrigger
          .item-object
            = link_to "", pin_path(board_pin.pin), class: "item-link zoom-in"
            = image_tag board_pin.pin.image.thumb, class: "item-object__img pin-img"
            - if user_signed_in?
              .button.modal-open.saveTrigger.button--red.hidden{ data: { target: "modal-pinsToBoard", id: board_pin.pin.id, image: board_pin.pin.image.thumb } } 保存
            - if is_mine?(@board)
              = link_to "解除", board_pin_path(board_pin), method: :delete , class: "button--gray releaseTrigger hidden"
          .item-info
            .item-info--left
              .item-title #{board_pin.pin.title}
            .item-info--right.item-pin
              = fa_icon("thumb-tack")
              %span #{board_pin.pin.board_pins_count}
          .item-description
            = simple_format(board_pin.pin.description, class: "pin-description")
        .tiles__item__user
          - lBoard = board_pin.pin.board_pins.last.board
          = link_to "", board_path(lBoard), class: "item-user--link"
          .item-user--left
            = image_tag lBoard.user.avatar.thumb, class: "user-avatar"
          .item-user--right
            .user-name #{lBoard.user.nickname}
            .user-board #{lBoard.title}
  - else
    - @pins.each do |pin|
      - lBoard = pin.board_pins.includes(:board).last.board if pin.board_pins.present?
      .tiles__item.small-tile
        .tiles__item__wrapper.hoverTrigger
          .item-object
            = link_to "", pin_path(pin), class: "item-link zoom-in"
            = image_tag pin.image.thumb, class: "item-object__img pin-img"
            - if user_signed_in?
              .button.modal-open.saveTrigger.button--red.hidden{ data: { target: "modal-pinsToBoard", id: pin.id, image: pin.image.thumb } } 保存
          .item-info
            .item-info--left
              .item-title #{pin.title}
            .item-info--right.item-pin
              = fa_icon("thumb-tack")
              %span #{pin.board_pins_count}
          .item-description
            = simple_format(pin.description, class: "pin-description")
        - if lBoard.present?
          .tiles__item__user
            = link_to "", board_path(lBoard), class: "item-user--link"
            .item-user--left
              = image_tag lBoard.user.avatar.thumb, class: "user-avatar"
            .item-user--right
              .user-name #{lBoard.user.nickname}
              .user-board #{lBoard.title}
- unless board_show?
  = paginate @pins
  .page-load-status
    .infinite-scroll-request.spinner
- if user_signed_in?
  = render partial: "shared/modal-pinsToBoard"
