.post
  .post__button.modal-open{data: {target: "modal-upload"}}
    = fa_icon("plus")
.modal#modal-upload
  = form_for @newPin do |f|
    .modal__bg
    .modal__window#upload1
      .modal__window--right
        .modal__window__header
          .modal-title ピンを作成
          .button
            = fa_icon("times", class: "fa-lg")
        .modal__window__container
          .content
            = f.label :image do
              = f.file_field :image, class: "hidden"
              .file-button 写真を選択
    .modal__window#upload2
      .modal__wrapper--left
        .modal-image
        = f.label :title, "ピンのタイトル", class: "field-label"
        = f.text_field :title, class: "field-input"
        = f.label :description, "ピンの説明", class: "field-label"
        = f.text_area :description, class: "field-input"
      .modal__wrapper--right
        .modal__window__header
          .modal-title ボードを選択
          .button
            = fa_icon("times", class: "fa-lg")
        .modal__window__container
          .content hoge

