= render partial: "/shared/header"
.container
  .board-header
    .board-header__menu
      -if user_signed_in? && current_user.id == @board.user_id
        .menu-button.modal-open{data: {target: "modal-boardEdit" + @board.id.to_s}}
          = fa_icon("pencil", class: "fa-lg menu-icon")
        .menu-button.releaseToggle
          = fa_icon("arrows", class: "fa-lg menu-icon")
    .board-header__info
      .board-header__info--left
        %h2.title-text #{@board.title}
        %h3.board-pins #{@board.board_pins_count} ピン
        %p.board-about #{@board.description}
      .board-header__info--right
        = link_to image_tag(@board.user.avatar.thumb, class: "avatar--small"), user_path(@board.user)
  = render partial: "/shared/pins"
  - if user_signed_in?
    = render partial: "/shared/post"
    - if current_user == @board.user
      = render partial: "/shared/modal-boardEdit", locals: { board: @board }
